<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TEMPLATE</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
        
    </head>
    <body>
        <div class="container-fluid" style="background-color:darkslategray">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top top-0">
                    <a class="navbar-brand" href="#" style="font-size:22px">CARS 24-7</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            See it all
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pages/premium/allcars">All cars</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/pages/premium/upcomingcars">Upcoming cars</a>
                          </div>
                        </li>&nbsp;&nbsp;
                        <li class="nav-item">
                          <a class="btn btn-light" href="/pages/profile">View my profile</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <h4 style="color:white">Hello {{user.username}}</h4>
                        
                      </form>
                    </div>
            </nav>
    </div>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Ferrari</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#fat">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mdo">Specifications</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Images</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#one">Interior</a>
                  <a class="dropdown-item" href="#two">Exterior</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#three">Other</a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="container-fluid">
              <div class="row">
                  
                  <div class="col" style="background-color:darkslategray"></div>
                  <div class="col-11">
                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                <h4 id="fat">Ferrari California T</h4>
                                <button class="btn btn-dark" id="book">Book this car</button>
                                <p>
                                    <div class="jumbotron">
                                        <h1 class="display-4">
                                            <div class="card bg-dark text-darkslategrey" id="imaa">
                                                
                                                <img class="card-img" src="./images/californiat.jpg" alt="Card image">
                                                <div class="card-img-overlay">
                                                  <h5 class="card-title">Blu California</h5>
                                                  
                                                </div>
                                              </div>
                                        </h1>
                                         
                                        <p class="lead">Launch date- 12 Febraury 2014<br/>
                                          First front engined Ferrari</p>
                                        <hr class="my-4">
                                        <p>Thanks to its technology, the driver constantly experiences an increasing acceleration and a great portion of turbo lag is also eliminated.</p>
                                        <p class="lead">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colap1" aria-expanded="false" aria-controls="collapseExample">
                                                Description
                                              </button>
                                              
                                            </p>
                                            <div class="collapse" id="colap1">
                                              <div class="card card-body">
                                                  The Ferrari California is a grand touring sports car produced by the Italian manufacturer Ferrari. It is a two-door 2+2 hard top convertible. When originally released, the California was powered by a front-mid mounted naturally aspirated 4.3-litre V8; in 2014 Ferrari introduced the second generation of the model, named California T and using a new twin-turbo 3.9-litre V8. The car revives the name used on the late-1950s Ferrari 250 GT Spyder California and the 1960s 365 California. It is also noted in being the least expensive model in the Ferrari range. It is now to be replaced by the Ferrari Portofino starting from 2018.                                              </div>
                                            </div> <br/>
                                            <p class="lead">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colap2" aria-expanded="false" aria-controls="collapseExample">
                                                Manufacturer
                                              </button>
                                              
                                            </p>
                                            <div class="collapse" id="colap2">
                                              
                                                  <img src="/images/ferrari-logo.jpg" height="200px" width="130px">
                                            
                                            </div>                                           
                                        </p>
                                      </div>
                                      
                                
                                <h4 id="mdo">Specifications</h4>
                                
                                    <div class="container">
                                        <div class="col"></div>
                                        <div class="col-5">
                                            <table class="table table-hover table-dark">
                                            <thead style="color:yellow">
                                                <tr>
                                                <th scope="col">Property</th>
                                                <th scope="col">Value</th>
                                                <th scope="col">Units</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>Top speed</td>
                                                <td>315</td>
                                                <td>kph</td>
                                                </tr>
                                                <tr>
                                                <td>Time for 0-100 kph</td>
                                                <td>3.5</td>
                                                <td>seconds</td>
                                                </tr>
                                                <tr>
                                                <td>Power</td>
                                                <td>552</td>
                                                <td>bhp</td>
                                                </tr>
                                                <tr>
                                                <td>Power to weight ratio</td>
                                                <td>339.6</td>
                                                <td>bhp/tonne</td>
                                                </tr>
                                                <tr>
                                                <td>Displacement</td>
                                                <td>3.9</td>
                                                <td>litres</td>
                                                </tr>
                                                <tr>
                                                <td>Weight</td>
                                                <td>1730</td>
                                                <td>kg</td>
                                                </tr>
                                                <tr>
                                                <td>Price</td>
                                                <td>14,858,683</td>
                                                <td>rupees</td>
                                                </tr>
                                                <tr>
                                                <td>Seating capacity</td>
                                                <td>2</td>
                                                <td>persons</td>
                                                </tr>
                                                
                                            </tbody>
                                            </table>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-12">
                                                <p>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">Colours:</li>&nbsp;&nbsp;&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-ha" data-toggle="pill" style="border-radius:50%;background-color:rgb(57, 41, 231)" href="#pills-a" role="tab" aria-controls="pills-home" aria-selected="true">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hb" data-toggle="pill" style="border-radius:50%;background-color:antiquewhite" href="#pills-b" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hc" data-toggle="pill" style="border-radius:50%;background-color:rgb(28, 3, 117)" href="#pills-c" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>&nbsp;
                                                    <li class="nav-item">
                                                        <a class="btn btn-light" id="pills-hd" data-toggle="pill" style="border-radius:50%;background-color:rgb(141, 4, 27)" href="#pills-d" role="tab" aria-controls="pills-contact" aria-selected="false">&nbsp;&nbsp;&nbsp;</a>
                                                    </li>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-a" role="tabpanel" aria-labelledby="pills-a">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="Blu California" src="/images/cali.jpg" height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="Avorio" src="https://img.gaadicdn.com/images/car-images/910x378/Ferrari/Ferrari-California/Avorio.jpg" height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                        </div>
                                                    <div class="tab-pane fade" id="pills-c" role="tabpanel" aria-labelledby="pills-c">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="Blu Scozia" src="/images/scozia.jpg" height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-d" role="tabpanel" aria-labelledby="pills-d">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img data-toggle="tooltip" data-placement="right" title="Rosso Mugello" src="/images/rosso.jpg" height="160px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                </p><br/><br/>
                                            </div>
                                            <div class="col"></div>
                                        </div>
                                    </div>
                                        
                                
                                <h3>Images</h3><br/>
                                <h4 id="one">Interior</h4>
                                <p>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior.jpg" height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior2.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior3.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                        </div><br/>
                                        <div class="row">
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior4.jpg" height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior5.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                <img src="/images/interior6.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <h4 id="two">Exterior</h4>
                                <p>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Side</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Back</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Front</a>
                                                    </li>
                                                    </ul>
                                                    <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/side1.jpg" height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/side2.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/side3.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/back.jpg" height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/back2.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/back3.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                        </div>
                                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                        <div class="row">
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/front2.jpg" height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/front1.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 col-xl-4">
                                                                <img src="/images/front3.jpg"  height="260px" width="380px" class="rounded" alt="...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                </p><br/><br/>
                                <h4 id="three">Other Details</h4>
                                <p>
                                    <strong>Performance</strong><br/>
                                    The original 2010 California had a top speed of 310 km/h (193 mph) and it could accelerate from zero to 100 km/h (62 mph) in under four seconds. Although that model was 180 kilograms (397 lb) heavier and 30 PS (22 kW; 30 hp) less powerful than the mid-engined F430, the California reached 97 km/h (60 mph) in the same time as the F430 due to the dual-clutch transmission.
                                    <br/><br/>
                                    <strong>Aerodynamics</strong><br/>
                                    Ferrari spent over 1,000 hours in the wind tunnel with a one-third-scale model of the California perfecting its aerodynamics. With the top up, the California has a drag coefficient of Cd=0.32, making it the most aerodynamic Ferrari ever made until the introduction of the Ferrari F12berlinetta.
                                    <br/><br/>
                                    <strong>Production</strong><br/>
                                    The California is built in a new production line adjacent to the existing factory at Maranello. The existing production line produces 27 cars per day, or 6,000 per year.
                                    <br/>
                                    Throughout the California's production, only 3 cars had been built with manual transmission, including one order from the UK.<br/><br/>
                                    <strong>Recall</strong><br/>
                                        In May 2012, Ferrari recalled the California because the engine could freeze suddenly and possibly cause a crash. The F136 engines had crankshafts that were machined incorrectly. The auto maker learned of the problem when it happened during a review by car critics. Owners could choose from having a new engine installed by their dealer, having the engine removed and the work done by Ferrari North America or having a new crankshaft and bearings installed at the dealership.

                                        The recall was for a total of 200 vehicles worldwide that were produced in 2011 and 2012. Of those 200 affected vehicles, 74 were delivered to the U.S. The 200 recalled vehicles were for certain California and 458 Italia models. (Road & Track, May 22, 2012).
                                </p>
                                <br/><br/>
                                <article>(Source- wikipedia)</article><br/>
                              </div>
                  </div>
                  <div class="col"  style="background-color:darkslategray"></div>
                  
              </div>
          </div>
          
    
    





        
        {{!-- <script src="jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js\bootstrap.js"></script>
        <script>
          let img=document.getElementById('imaa')
          let c1=document.getElementById('c1')
          let c2=document.getElementById('c2')
          let c3=document.getElementById('c3')
          let c4=document.getElementById('c4')
          c1.onclick=function(){
            img.innerHTML=`<img class="card-img" src="images\avorio.png" alt="Card image"><div class="card-img-overlay"><h5 class="card-title">Avorio</h5></div>`
          }
        </script> --}}
        <script>
            $('#book').click(()=>window.alert('To book this car, please mail to syprodcars@gmail.com with your username and password specified.'))
            $(function () {
                $('[data-toggle="popover"]').popover()
                })
                $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                })

        </script>
    </body>
</html>